/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Dual host-locale Corne keymap.
 *
 * Default mode: Norwegian host layout.
 * Toggle US mode: hold Lower and press the far-right key on the home row
 *                 (the position that is ' on the base layer).
 * Norwegian extras: Lower + N/M/, => æ/ø/å directly in NB Lower.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/*
 * Layer numbers. The Norwegian set is first so Norwegian is the power-on
 * default. US_BASE is a persistent overlay toggled on/off with &tog.
 */
#define NB_BASE  0
#define NB_LOWER 1
#define NB_RAISE 2
#define US_BASE  3
#define US_LOWER 4
#define US_RAISE 5

/* Compile the first group using Norwegian host-layout semantics. */
#define ZMK_KEYMAP_COMPAT_NB
#include "keys_locale_compat.h"
#undef ZMK_KEYMAP_COMPAT_NB

#define LOWER_LAYER NB_LOWER
#define RAISE_LAYER NB_RAISE

/ {
    combos {
        compatible = "zmk,combos";

        space_combo {
            bindings = <&kp SPACE>;
            key-positions = <19 20 21>;
        };

        backspace_combo {
            bindings = <&kp BACKSPACE>;
            key-positions = <14 15 16>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        nb_base {
            display-name = "NO Base";
#include "layers/base.inc"
        };

        nb_lower {
            display-name = "NO Lower";
#include "layers/lower.inc"
        };

        nb_raise {
            display-name = "NO Raise";
#include "layers/raise.inc"
        };

        /*
         * Switch semantic key names back to standard ZMK/US meanings before
         * instantiating the same shared source for the US layers.
         */
#undef LOWER_LAYER
#undef RAISE_LAYER
#include "keys_locale_compat.h"
#define LOWER_LAYER US_LOWER
#define RAISE_LAYER US_RAISE

        us_base {
            display-name = "US Base";
#include "layers/base.inc"
        };

        us_lower {
            display-name = "US Lower";
#include "layers/lower.inc"
        };

        us_raise {
            display-name = "US Raise";
#include "layers/raise.inc"
        };

    };

};

